body {
  background-color:#D7CD9C;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.button{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.accountbutton {
  position: absolute;
  left: 1vw;
}

.header {
  background-color:#CBC289;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 3vw;
  width: 100vw;
  background-color:#CBC289;
}
